<a href="https://colab.research.google.com/github/amirrhseiin/Germany-Rental-Offers/blob/main/Germany_Rental_offers_linear_regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
df = pd.read_csv("/content/drive/MyDrive/ML/EX1/part2/archive.zip")

In [ ]:
df.head(5)

,regio1,serviceCharge,heatingType,telekomTvOffer,telekomHybridUploadSpeed,newlyConst,balcony,picturecount,pricetrend,telekomUploadSpeed,...,regio2,regio3,description,facilities,heatingCosts,energyEfficiencyClass,lastRefurbish,electricityBasePrice,electricityKwhPrice,date
0,Nordrhein_Westfalen,245.00,central_heating,ONE_YEAR_FREE,NaN,False,False,6,4.62,10.0,...,Dortmund,Schüren,Die ebenerdig zu erreichende Erdgeschosswohnun...,Die Wohnung ist mit Laminat ausgelegt. Das Bad...,NaN,NaN,NaN,NaN,NaN,May19
1,Rheinland_Pfalz,134.00,self_contained_central_heating,ONE_YEAR_FREE,NaN,False,True,8,3.47,10.0,...,Rhein_Pfalz_Kreis,Böhl_Iggelheim,Alles neu macht der Mai – so kann es auch für ...,NaN,NaN,NaN,2019.0,NaN,NaN,May19
2,Sachsen,255.00,floor_heating,ONE_YEAR_FREE,10.0,True,True,8,2.72,2.4,...,Dresden,Äußere_Neustadt_Antonstadt,Der Neubau entsteht im Herzen der Dresdner Neu...,"* 9 m² Balkon\n* Bad mit bodengleicher Dusche,...",NaN,NaN,NaN,NaN,NaN,Oct19
3,Sachsen,58.15,district_heating,ONE_YEAR_FREE,NaN,False,True,9,1.53,40.0,...,Mittelsachsen_Kreis,Freiberg,Abseits von Lärm und Abgasen in Ihre neue Wohn...,NaN,87.23,NaN,NaN,NaN,NaN,May19
4,Bremen,138.00,self_contained_central_heating,NaN,NaN,False,True,19,2.46,NaN,...,Bremen,Neu_Schwachhausen,Es handelt sich hier um ein saniertes Mehrfami...,Diese Wohnung wurde neu saniert und ist wie fo...,NaN,NaN,NaN,NaN,NaN,Feb20

In [ ]:
df.shape

(268850, 49)

In [ ]:
num_values = {"serviceCharge": data.serviceCharge.mean(), "telekomUploadSpeed": 0, "heatingType": data.heatingType.mode()[0]}
data.fillna(value=num_values, inplace=True)

data = data[['serviceCharge', 'telekomUploadSpeed', 'heatingType', 'livingSpace']]

data.isna().sum()

serviceCharge         0
telekomUploadSpeed    0
heatingType           0
livingSpace           0
dtype: int64

# multi variate linear regression

In [ ]:
class SimpleLinearRegression() : 
      
    def __init__( self, learning_rate, iterations ) : 
          
        self.learning_rate = learning_rate 
          
        self.iterations = iterations 
    def fit(self, X, Y):
      X_train = np.c_[np.ones(X.shape[0]), X]
      self.W = np.random.rand((X_train.shape[1]))
      for i in range(self.iterations):
        self.W = self.W - self.learning_rate * self.calcGradient(X_train, Y)

    def calcGradient(self, X, Y):
      return 2/X.shape[0] * np.dot(X.T, (np.dot(X, self.W) - Y))

    def predict(self, X):
      Xpred = np.c_[np.ones(X.shape[0]), X]
      return np.dot(Xpred, self.W)

# split features and target

In [ ]:
Y = df['livingSpace']
X = df.drop(columns = ['livingSpace'])

print(X.shape)
print(Y.shape)

(250467, 96)
(250467,)

In [ ]:
from sklearn.model_selection import train_test_split 
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.3, random_state = 0 )

In [ ]:
model = SimpleLinearRegression(iterations = 1000, learning_rate = 0.01)

In [ ]:
model.fit(X_train, Y_train)

In [ ]:
Y_pred = model.predict(X_test)

In [ ]:
from sklearn.metrics import mean_squared_error
print(f'MSE on the test set: {mean_squared_error(Y_test, Y_pred)}')

MSE on the test set: 0.061158953419488855

# sklearn linear regression

In [ ]:
from sklearn.linear_model import LinearRegression

In [ ]:
reg = LinearRegression()

In [ ]:
reg.fit(X_train, Y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [ ]:
reg.score(X_test, Y_test)

0.9316068694373152

In [ ]:
reg_y_pred = reg.predict(X_test)

In [ ]:
print(f'MSE on the test set: {mean_squared_error(Y_test,reg_y_pred)}')

MSE on the test set: 0.001016540850307859